<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851706409758-qak4t60rj4vkbokggh89uci9v3u9dbmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851706409758-qak4t60rj4vkbokggh89uci9v3u9dbmp</string>
	<key>API_KEY</key>
	<string>AIzaSyA6hKy--llaiZ5p9ZNH1gCOuvSv5Gjw2iY</string>
	<key>GCM_SENDER_ID</key>
	<string>851706409758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pro.joaosousa.queueManagementSystem</string>
	<key>PROJECT_ID</key>
	<string>santos-1b6f6</string>
	<key>STORAGE_BUCKET</key>
	<string>santos-1b6f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851706409758:ios:916ba1166193ebbbc80f0f</string>
</dict>
</plist>